.textresult {
  overflow-y: scroll;
  height: 600px;
  width: 800px;
  resize: none;
  display: none;
}

.hiddentext {
  display: none;
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #d14836;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  color: #fff;
  border: 1px solid transparent;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}